.checkoutpage{
    padding: 8% 5% 0 5%;
    background: rgb(12,60,52);
    background: linear-gradient(145deg, rgba(12,60,52,1) 0%, rgba(119,208,180,1) 100%);
}
.titleCart{
    font-size: 3rem;
    color: #149c9c;
}