.products{
    background: rgb(12,60,52);
    background: linear-gradient(145deg, rgba(12,60,52,1) 0%, rgba(119,208,180,1) 100%);
}
.imgContainer{
    position: relative;
}
.imgDivProducts{
    position: relative;
}
.motorImg{
    height: 500px;
    object-fit: cover;
    width: 100%;
}
.introContainer{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
}
.textDiv{
    width: 50%;
    background-color: transparent;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textDiv h4{
    -webkit-text-stroke: 1.2px #0c3c34;
    color: #fff;
    font-size: 3rem;
    word-break:break-all;
}
.botonDiv{
    width: 50%;
    display: flex;
    justify-content: center;
    height: 80%;
    align-items: flex-end;
    padding-bottom: 5%;
}
.boton Button{
    background-color: #149c9c;
    border-radius: 15px;
    color: #1c1c2c;
    padding-right: 10px;
    font-weight: bolder;
}
.boton Button:hover{
    background-color: #cacaca;
}
.containerGrid{
    padding: 5% 5%;
    box-sizing: border-box;
}
@media (max-width: 600px){
    .containerGrid{
        padding: 5% 5% 5% 15%;
        box-sizing: border-box;
    }
    .introContainer{
        display: grid;
    }
    .textDiv{
        width: 100%;
        box-sizing: border-box;
    }
    .botonDiv{
        width: 100%;
    }
}
@media(max-width: 400px){
    .containerGrid{
        padding: 5% 5% 5% 10%;
        box-sizing: border-box;
    }
}
@media(max-width: 350px){
    .textDiv h4{
        font-size: 2.5rem;
    }
}

