.confirmationContainer{
    padding: 5% 0 5% 0;
}
.divBotonConfirmation{
    padding-top: 20px;
}
.botonConfirmation{
    background-color: #149c9c !important;
    color: black !important;
}
.botonConfirmation:hover{
    background-color: #cacaca !important;
}